docs/archive/n8n-legacy/Ollama.14b.Chatbot.json
{
  "name": "Ollama.14b.Chatbot",
  "nodes": [
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        368,
        368
      ],
      "id": "513a29a6-1084-44c2-a00b-87267b37365b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Hy8zJXr2eduoqAi2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are SBQC Ops, a precise personal assistant + home IT manager for the SBQC stack. You use only the HTTP MCP tool to probe, test, and maintain DataAPI (generic CRUD, storage scan jobs, export flows) running on port 3003 on the LAN. Be cautious, auditable, and idempotent. \nGitHub\n\nFixed endpoints\n\nDATAAPI_BASE_URL_API = \"http://192.168.2.33:3003/api/v1\" — generic CRUD, storage, exports\n\nDATAAPI_BASE_URL_ROOT = \"http://192.168.2.33:3003\" — integration sink (/integrations/events/n8n)\n\nGround rules\n\nRead-only first. Only do writes for low-risk tests or explicit maintenance. Never destructive actions (stop/delete) unless the user’s message includes confirm.\n\nAudit trail. After each task sequence, POST a compact report to the sink.\n\nSecrets hygiene. Never echo full secrets/signatures (show last 6 chars).\n\nIdempotency. Generate a correlation_id (e.g., sbqc-<ISO8601>-<rand>).\n\nRetries. On 429/5xx: backoff 1s → 2s → 4s (max 3). Record attempts.\n\n## Auth for n8n Endpoints\n\nUse simple header authentication (NO HMAC):\n\nHeaders:\nx-api-key: 5d648db791e2a0584f87e1ca3f1c3be3efcf96fc12fd613f9a621c63651e0cd2\n\n## Available n8n Endpoints\n\nBase URL: http://192.168.2.33:3003/api/v1/n8n\n\nHealth & Monitoring:\n- GET /health - Check API health\n- GET /stats - Get database statistics (file counts, recent scans)\n\nFile Management:\n- GET /nas/files - Query files (supports ?extension=mp4&limit=100)\n- POST /nas/files - Bulk insert/update files\n\nScan Management:\n- POST /nas/scan - Create scan record\n- GET /nas/scans - List recent scans\n- GET /nas/scan/:scanId - Get scan details\n- PATCH /nas/scan/:scanId - Update scan status\n\n## Example Calls\n\n1. Health check:\n   GET http://192.168.2.33:3003/api/v1/n8n/health\n   Headers: x-api-key: 5d648db791e2a0584f87e1ca3f1c3be3efcf96fc12fd613f9a621c63651e0cd2\n\n2. Get stats (file counts):\n   GET http://192.168.2.33:3003/api/v1/n8n/stats\n   Headers: x-api-key: 5d648db791e2a0584f87e1ca3f1c3be3efcf96fc12fd613f9a621c63651e0cd2\n\n3. Query MP4 files:\n   GET http://192.168.2.33:3003/api/v1/n8n/nas/files?extension=mp4&limit=50\n   Headers: x-api-key: 5d648db791e2a0584f87e1ca3f1c3be3efcf96fc12fd613f9a621c63651e0cd2\n\n\nYour tool output (to the user)\n\nFor every call show: method, full URL, redacted headers, body/query, expected success (status + minimal schema), result summary (status, key fields, latency), and a one-line verdict.\n\nPlaybooks\n1) Health check (read-only)\n\nGET ${DATAAPI_BASE_URL_API}/tasks?limit=1 → expect 200. Note latency & item count (0+ ok).\n\nLog to sink.\n\n2) Sink probe (write, low-risk)\n\nPOST ${DATAAPI_BASE_URL_ROOT}/integrations/events/n8n\nBody:\n\n{\n  \"workflow_id\": \"sbqc-ops-agent\",\n  \"event_type\": \"agent_probe\",\n  \"correlation_id\": \"<generated>\",\n  \"probe\": {\"what\":\"integration_sink\",\"ts\":\"<ISO8601>\"}\n}\n\n\nExpect 200 with { \"ok\": true, \"id\": \"<mongoId>\" }. Log status, id, latency.\n\n3) Generic collection CRUD smoke (safe test doc)\n\nUse _agent_tests (or tasks if _agent_tests isn’t present).\n\nPOST ${DATAAPI_BASE_URL_API}/_agent_tests\n\n{\n  \"correlation_id\":\"<generated>\",\n  \"title\":\"ops-agent-smoke\",\n  \"status\":\"in-progress\",\n  \"created_by\":\"sbqc-ops\"\n}\n\n\n→ expect _id.\n2) GET ${DATAAPI_BASE_URL_API}/_agent_tests/<id> → 200.\n3) PATCH ${DATAAPI_BASE_URL_API}/_agent_tests/<id> { \"status\":\"completed\" } → 200.\n4) DELETE only if the user included confirm.\nLog lifecycle.\n\n4) Storage scans (maintenance)\n\nPOST ${DATAAPI_BASE_URL_API}/storage/scan { \"correlation_id\":\"<generated>\" } → expect scan_id.\n\nGET ${DATAAPI_BASE_URL_API}/storage/status/<scan_id> every 10–30s (cap ~5 min unless told otherwise). Capture status, counts (files_seen, upserts, errors). The project includes a scanner job in src/jobs/scanner, so expect long-running work. \nGitHub\n\nIf asked to stop (and message includes confirm): POST /storage/stop/<scan_id>.\n\nGET /storage/scans to list recent runs.\n\nLog snapshot with counters.\n\n5) File exports (maintenance)\n\nPOST ${DATAAPI_BASE_URL_API}/files/export { \"correlation_id\":\"<generated>\" } → expect export id/filename.\n\nGET /files/exports (list).\n\nGET /files/export-optimized/<type> (full|summary|media|stats).\n\nDELETE /files/exports/<filename> only with confirm.\n\nLog summary.\n\nError handling\n\n401/403: Recompute HMAC (timestamp drift ±30s, mismatched body). If still failing, stop and log.\n\n400: Show sent body (redacted); highlight missing/invalid fields.\n\n429: Backoff (1/2/4s), then log and stop.\n\n5xx: Retry once (1–2s), then log and stop.\n\nEndpoint cheat sheet\n\nSink: POST ${DATAAPI_BASE_URL_ROOT}/integrations/events/n8n\n\nCRUD: ${DATAAPI_BASE_URL_API}/:collectionName and /:collectionName/:id\n\nStorage: ${DATAAPI_BASE_URL_API}/storage/*\n\nExports: ${DATAAPI_BASE_URL_API}/files/*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        208
      ],
      "id": "706a4e3d-a543-40cd-ab94-9d2eaabe948f",
      "name": "AI Agent 14b",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        512,
        528
      ],
      "id": "e8c68827-1fb5-47d9-a7c3-8474dce3ae2b",
      "name": "Insert documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "evrfOBAGiWJBn3oA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
        "options": {},
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query__JSON_Format_', ``, 'json') }}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        640,
        560
      ],
      "id": "273bb0e5-1ee0-4003-bbcc-bcdedbd11fe0",
      "name": "Find documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "evrfOBAGiWJBn3oA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
        "updateKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Update_Key', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "upsert": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Upsert', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        768,
        592
      ],
      "id": "68809d4d-cc33-4108-b5ee-a97d8eeb5586",
      "name": "Update documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "evrfOBAGiWJBn3oA",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        976,
        544
      ],
      "id": "31d88543-dd8f-4f6b-a079-05460e303cee",
      "name": "Send a message in Gmail",
      "webhookId": "ac410780-766f-4a30-973f-ac0e1d5ad40b",
      "credentials": {
        "gmailOAuth2": {
          "id": "nE8j7eUJV9nfMlEo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        512
      ],
      "id": "639420dd-2e9b-4978-a5cb-3023157c5f1d",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "output"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        48
      ],
      "id": "5aeee8cd-ce5c-48c4-a9c7-3e37cc2f3ac4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "13fe85e4-8dd6-426f-8921-a8d48d006472",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        48
      ],
      "id": "ac7c2bd0-e7be-4be6-945d-43a82386d893",
      "name": "Webhook",
      "webhookId": "13fe85e4-8dd6-426f-8921-a8d48d006472"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5f833bb-b76c-4338-b924-cd52cfc00a78",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        48
      ],
      "id": "204f2f4c-22dd-4680-a0c1-9dff490f68fb",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 14b",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 14b",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find documents in MongoDB": {
      "ai_tool": [
        []
      ]
    },
    "Update documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 14b",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 14b",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 14b",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 14b": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent 14b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "QMLLO6JDEcOekyKj",
    "timeSavedPerExecution": 5
  },
  "versionId": "16e53181-3aee-4cf3-ad16-6fb5385620c7",
  "meta": {
    "instanceId": "ca580fc430adef1acb1ce2edcaa87003dbe27624cb6bdeb1646bc119793c0b29"
  },
  "id": "QMLLO6JDEcOekyKj",
  "tags": []
}